<div>
    <h1><a href="/Monday">Monday</a></h1><br />
    <h1><a href="/Tuesday">Tuesday</a></h1><br />
    <h1><a href="/Wednesday">Wednesday</a></h1><br />
    <h1><a href="/Thursday">Thursday</a></h1>
</div>